:root {
  --color-title: #000;
  --color-text: #131313;
  --color-yellow: #FFBC68;
  --color-white: #fff;
  --width-container-xxl: 1650px;
  --base-padding: 15px;
  --font-krona-one: "Krona One", sans-serif;
  --font-monoton: "Monoton", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --base-font-size: 16px;
  --radius-size: 5px;
  --radiuse-size-sm: 30px;
  --box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.08);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  max-width: var(--width-container-xxl);
  padding: 0 var(--base-padding);
  margin: 0 auto;
}

.logo {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-monoton);
  font-size: 30px;
}
@media (max-width: 375px) {
  .logo--position {
    flex: 1;
    text-align: center;
  }
}
.logo--yellow {
  color: var(--color-yellow);
}

.btn {
  transition: 0.2s;
  color: var(--color-text);
  font-family: var(--font-montserrat);
  border-radius: var(--radius-size);
  background: var(--color-yellow);
}
.btn:hover {
  background: #ffa535;
  color: white;
}

.title {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 48px;
  color: var(--color-yellow);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * 3DX
 */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.header {
  position: relative;
  min-height: 100vh;
  background: url("./../img/header/cosmodom-min.jpg") no-repeat 0 0/cover;
  backdrop-filter: blur(30px);
  overflow: hidden;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.15);
}
.header__container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
.header__container.is-active {
  z-index: auto;
}
.header__top {
  padding-top: 50px;
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__top {
    padding-top: 130px;
  }
}
.header__top, .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .header__inner {
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header__inner {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .header__inner {
    width: 70%;
  }
}
.header__inner.is-active {
  transition: 0.2s;
  right: 0;
  z-index: 2;
}
@media (max-width: 1300px) {
  .header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
.header__link {
  font-family: var(--font-montserrat);
  font-size: 18px;
  color: var(--color-title);
  margin-right: 60px;
}
@media (max-width: 1550px) {
  .header__link {
    margin-right: 35px;
  }
}
@media (max-width: 1400px) {
  .header__link {
    margin-right: 20px;
  }
}
@media (max-width: 1300px) {
  .header__link {
    margin-right: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-yellow);
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
.header__link:last-child {
  margin-right: 120px;
}
@media (max-width: 1400px) {
  .header__link:last-child {
    margin-right: 80px;
  }
}
@media (max-width: 1300px) {
  .header__link:last-child {
    margin-right: 0;
  }
}
.header__number {
  font-family: var(--font-montserrat);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-title);
}
@media (max-width: 1300px) {
  .header__number {
    padding-right: 15px;
  }
}
.header__middle {
  margin-top: 100px;
  font-family: var(--font-montserrat);
  color: var(--color-white);
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__middle {
    margin-top: 200px;
  }
}
@media (max-width: 1300px) {
  .header__middle {
    margin-top: 100px;
  }
}
.header__heading {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__heading {
    font-size: 96px;
  }
}
@media (max-width: 1300px) {
  .header__heading {
    font-size: 80px;
  }
}
@media (max-width: 1140px) {
  .header__heading {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .header__heading {
    font-size: 48px;
  }
}
@media (max-width: 375px) {
  .header__heading {
    font-size: 36px;
  }
}
.header__heading--logo {
  text-transform: uppercase;
}
.header__heading--logo-color {
  color: var(--color-yellow);
}
.header__desc {
  max-width: 517px;
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 26px;
}
.header__call {
  padding: 6px 28px;
}

.hamburger {
  position: relative;
  z-index: 5;
  display: none;
}
@media (max-width: 1300px) {
  .hamburger {
    display: block;
  }
}

.services {
  padding-top: 100px;
}
.services__title {
  margin-bottom: 40px;
}
.services__wrap {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .services__wrap {
    justify-content: center;
  }
}

.service {
  min-width: 320px;
  transition: 0.2s;
  font-family: var(--font-montserrat);
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.service:hover {
  background: var(--color-white);
  box-shadow: var(--box-shadow);
  border-radius: var(--radiuse-size-sm);
}
.service__icon {
  margin-bottom: 22px;
}
.service__title {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 24px;
}
.service__btn {
  padding: 5px 48px;
}

/*# sourceMappingURL=style.css.map */
