:root {
  --color-title: #000;
  --color-text: #131313;
  --color-yellow: #FFBC68;
  --color-white: #fff;
  --color-rgba-white: rgba(255, 255, 255, 0.5);
  --bg-yellow: #FFCD8E;
  --width-container-xxl: 1650px;
  --base-padding: 15px;
  --font-krona-one: "Krona One", sans-serif;
  --font-monoton: "Monoton", cursive;
  --font-montserrat: "Montserrat", sans-serif;
  --font-open-sans: "Open Sans", sans-serif;
  --base-font-size: 16px;
  --font-size-large: 144px;
  --font-size-xxl: 96px;
  --font-size-xl: 70px;
  --font-size-lg: 48px;
  --font-size-sm: 22px;
  --font-size-es: 14px;
  --font-title: 24px;
  --font-text: 18px;
  --radius-size: 5px;
  --radius-size-img: 10px;
  --radiuse-size-sm: 30px;
  --box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.08);
  --day-box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.17);
  --bg-color: #131313;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.p-5 {
  padding: 50px;
}
@media (max-width: 576px) {
  .p-5 {
    padding: 20px;
  }
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-family: var(--font-montserrat);
  position: relative;
  overflow: hidden;
}
.wrapper.is-active {
  max-height: 100vh;
}

.container {
  max-width: var(--width-container-xxl);
  padding: 0 var(--base-padding);
  margin: 0 auto;
}

.logo {
  color: var(--color-white);
  text-transform: uppercase;
  font-family: var(--font-monoton);
  font-size: 30px;
}
@media (max-width: 375px) {
  .logo--position {
    flex: 1;
    text-align: center;
  }
}
.logo--yellow {
  color: var(--color-yellow);
}
.logo--dark {
  color: var(--color-text);
}
.logo--company {
  font-size: var(--font-size-xxl);
}
@media (max-width: 768px) {
  .logo--company {
    font-size: var(--font-size-xl);
  }
}
@media (max-width: 576px) {
  .logo--company {
    font-size: var(--font-size-lg);
  }
}

.btn {
  font-size: var(--base-font-size);
  padding: 5px 48px;
  transition: 0.2s;
  color: var(--color-text);
  font-family: var(--font-montserrat);
  border-radius: var(--radius-size);
  background: var(--bg-yellow);
}
.btn:hover {
  background: #ffa535;
  color: white;
}
.btn-dark {
  border: 1px solid transparent;
  background: var(--color-text);
  color: var(--color-white);
}
.btn-dark:hover {
  background: var(--color-yellow);
  color: var(--color-text);
  border: 1px solid var(--color-text);
}

.title {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-lg);
  color: var(--color-yellow);
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .title {
    font-size: 40px;
  }
}

.text {
  font-family: var(--font-montserrat);
  font-weight: 400;
  color: var(--color-text);
  line-height: 1.3;
  font-size: var(--font-text);
}

.card {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  transition: 0.2s;
}
.card:hover {
  box-shadow: var(--box-shadow);
  border-radius: var(--radiuse-size-sm);
}
.card__name {
  display: inline-block;
  color: var(--color-title);
  font-weight: 600;
  font-size: var(--font-title);
}

.block {
  margin-bottom: 100px;
}
.block--maxwidth {
  max-width: 1400px;
  margin: 0 auto;
}
.block--maxwidth-md {
  max-width: 1200px;
  margin: 0 auto;
}
.block__shadow {
  border-radius: var(--radiuse-size-sm);
  box-shadow: var(--box-shadow);
  overflow: hidden;
}
.block__list {
  list-style-type: none;
}
.block__subtitle {
  margin-bottom: 100px;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-title);
  text-transform: uppercase;
  color: var(--color-yellow);
  line-height: 1.2;
}
@media (max-width: 576px) {
  .block__subtitle {
    margin-bottom: 50px;
  }
}
.block__text {
  color: var(--color-text);
  line-height: 1.5;
  font-size: var(--font-size-sm);
  font-weight: 500;
}
.block__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .block__cards {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.block__card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px;
  max-width: 470px;
  font-family: var(--font-montserrat);
  font-weight: 500;
  font-size: var(--font-text);
  color: var(--color-text);
  margin-bottom: 80px;
}
@media (max-width: 576px) {
  .block__card {
    flex-direction: column;
    align-items: center;
  }
  .block__card:last-child {
    margin-bottom: 0;
  }
}
.block__card-number {
  color: var(--color-yellow);
  font-family: var(--font-monoton);
  font-size: var(--font-size-large);
  margin-right: 30px;
  line-height: 1.3;
}
.block__card-text {
  font-weight: 500;
  line-height: 1.5;
}
.block__company-about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1400px) {
  .block__company-about {
    flex-wrap: wrap;
  }
}
.block__company-info {
  max-width: 720px;
  margin-right: 50px;
}
@media (max-width: 1400px) {
  .block__company-info {
    max-width: 100%;
    margin-bottom: 50px;
  }
}
.block__company-title {
  margin-bottom: 20px;
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  color: var(--color-text);
}
@media (max-width: 768px) {
  .block__company-title {
    font-size: 36px;
  }
}
.block__company-text {
  font-weight: 400;
  margin-top: 20px;
}
.block__company-img {
  border-radius: var(--radius-size-img);
  overflow: hidden;
}
@media (max-width: 1400px) {
  .block__company-img {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .block__company-photo {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }
}
.block__company-review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1140px) {
  .block__company-review {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 1140px) {
  .block__company-review-img {
    margin-bottom: 50px;
  }
}
.block__company-review-text {
  max-width: 771px;
  font-family: var(--font-montserrat);
  font-size: var(--font-text);
  color: var(--color-text);
  line-height: 1.8;
  margin-left: 50px;
}
@media (max-width: 1140px) {
  .block__company-review-text {
    margin-left: 0;
  }
}
.block__company-cards {
  justify-content: center;
}
@media (max-width: 1140px) {
  .block__company-cards {
    flex-direction: column;
  }
}
.block__company-card {
  padding: 30px 30px 100px 30px;
  margin-right: 45px;
}
.block__company-card:last-child {
  margin-right: 0;
}
@media (max-width: 1140px) {
  .block__company-card {
    margin-right: 0;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 5px 0px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--color-text);
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: var(--color-text);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before, .hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

/*
 * 3DX
 */
.hamburger--3dx .hamburger-box {
  perspective: 80px;
}
.hamburger--3dx .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx .hamburger-inner::before, .hamburger--3dx .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hamburger--3dx.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateY(180deg);
}
.hamburger--3dx.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--3dx.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.header__custom {
  position: relative;
  min-height: 100vh;
  background: url("./../img/header/cosmodom-min.jpg") no-repeat 0 0/cover;
  backdrop-filter: blur(30px);
  overflow: hidden;
}
.header__custom::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(30px);
  background: rgba(0, 0, 0, 0.15);
}
.header__mb {
  margin-bottom: 100px;
}
.header__container {
  position: relative;
  z-index: 2;
  min-height: 100vh;
}
.header__container.is-active {
  z-index: auto;
}
.header__top {
  padding-top: 50px;
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__top {
    padding-top: 130px;
  }
}
.header__top, .header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1300px) {
  .header__inner {
    transition: 0.2s;
    position: absolute;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .header__inner {
    width: 50%;
  }
}
@media (max-width: 375px) {
  .header__inner {
    width: 70%;
  }
}
.header__inner.is-active {
  transition: 0.2s;
  right: 0;
  z-index: 2;
}
@media (max-width: 1300px) {
  .header__menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
.header__link {
  font-family: var(--font-montserrat);
  font-size: var(--font-text);
  color: var(--color-title);
  margin-right: 60px;
}
@media (max-width: 1550px) {
  .header__link {
    margin-right: 35px;
  }
}
@media (max-width: 1400px) {
  .header__link {
    margin-right: 20px;
  }
}
@media (max-width: 1300px) {
  .header__link {
    margin-right: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--color-yellow);
    padding-right: 15px;
    padding-bottom: 15px;
  }
}
.header__link:last-child {
  margin-right: 120px;
}
@media (max-width: 1400px) {
  .header__link:last-child {
    margin-right: 80px;
  }
}
@media (max-width: 1300px) {
  .header__link:last-child {
    margin-right: 0;
  }
}
.header__number {
  font-size: var(--font-text);
  font-weight: bold;
  color: var(--color-title);
}
@media (max-width: 1300px) {
  .header__number {
    padding-right: 15px;
  }
}
.header__middle {
  margin-top: 100px;
  color: var(--color-white);
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__middle {
    margin-top: 200px;
  }
}
@media (max-width: 1300px) {
  .header__middle {
    margin-top: 100px;
  }
}
.header__heading {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 25px;
}
@media (min-height: 1000px) and (min-width: 1300px) {
  .header__heading {
    font-size: var(--font-size-xxl);
  }
}
@media (max-width: 1300px) {
  .header__heading {
    font-size: 80px;
  }
}
@media (max-width: 1140px) {
  .header__heading {
    font-size: 60px;
  }
}
@media (max-width: 576px) {
  .header__heading {
    font-size: var(--font-size-lg);
  }
}
@media (max-width: 375px) {
  .header__heading {
    font-size: 36px;
  }
}
.header__heading--logo {
  text-transform: uppercase;
}
.header__heading--logo-color {
  color: var(--color-yellow);
}
.header__desc {
  max-width: 517px;
  font-weight: 500;
  font-size: var(--font-text);
  margin-bottom: 26px;
}
.header__call {
  padding: 6px 28px;
}

.hamburger {
  position: relative;
  z-index: 5;
  display: none;
}
@media (max-width: 1300px) {
  .hamburger {
    display: block;
  }
}

.services {
  padding-top: 100px;
  margin-bottom: 100px;
}
@media (max-width: 576px) {
  .services {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}
.services__heading {
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .services__heading {
    margin-bottom: 20px;
  }
}
.services__wrap {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .services__wrap {
    max-width: 950px;
  }
}
@media (max-width: 768px) {
  .services__wrap {
    justify-content: center;
  }
}

@media (max-width: 1300px) {
  .service {
    min-width: 320px;
  }
}
.service__icon {
  margin-bottom: 22px;
}
.service__name {
  margin-bottom: 27px;
}
.service__btn {
  padding: 5px 48px;
}

.company {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 110px;
}
@media (max-width: 1140px) {
  .company {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .company {
    margin-bottom: 50px;
  }
}
@media (max-width: 1400px) {
  .company {
    flex-direction: column;
    align-items: start;
  }
}
.company__info {
  margin-right: 20px;
  max-width: 715px;
}
@media (max-width: 1400px) {
  .company__info {
    max-width: 100%;
    margin-bottom: 50px;
    margin-right: 0;
  }
}
.company__heading {
  margin-bottom: 73px;
}
@media (max-width: 1400px) {
  .company__heading {
    margin-bottom: 40px;
  }
}
.company__title {
  display: inline-block;
  font-size: var(--font-title);
  margin-bottom: 23px;
}
.company__text {
  margin-bottom: 36px;
}
.company__picture {
  overflow: hidden;
  border-radius: 10px;
}
@media (max-width: 1400px) {
  .company__picture {
    width: 100%;
  }
}
@media (max-width: 1400px) {
  .company__img {
    width: 100%;
    max-height: 500px;
  }
}

.rent {
  margin-bottom: 130px;
}
@media (max-width: 1140px) {
  .rent {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .rent {
    margin-bottom: 50px;
  }
}
.rent__title {
  margin-bottom: 100px;
}
@media (max-width: 768px) {
  .rent__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 576px) {
  .rent__title {
    margin-bottom: 35px;
  }
}
.rent__wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .rent__wrap {
    justify-content: center;
  }
}
.rent__icon {
  margin-bottom: 22px;
}
.rent__name {
  margin-bottom: 30px;
}

.day {
  margin-bottom: 160px;
}
@media (max-width: 1140px) {
  .day {
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .day {
    margin-bottom: 50px;
  }
}
.day__heading {
  margin-bottom: 100px;
}
.day__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 1300px) {
  .day__wrap {
    max-width: 1270px;
  }
}
@media (max-width: 960px) {
  .day__wrap {
    flex-direction: column;
  }
}
.day__card {
  flex: 1;
  min-height: 630px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 20px;
  border-radius: var(--radiuse-size-sm);
  overflow: hidden;
  box-shadow: var(--day-box-shadow);
  text-align: center;
  margin-right: 46px;
}
.day__card:last-child {
  margin-right: 0;
}
@media (max-width: 1300px) {
  .day__card:last-child {
    margin-bottom: 0;
  }
}
@media (max-width: 1300px) {
  .day__card {
    flex: none;
    min-width: 505px;
    margin-bottom: 50px;
    margin-right: 0;
  }
}
@media (max-width: 1140px) {
  .day__card {
    min-width: 450px;
  }
}
@media (max-width: 576px) {
  .day__card {
    min-height: 500px;
    padding: 20px;
    justify-content: center;
    min-width: 100%;
  }
}
.day__card--dark {
  background: var(--bg-color);
}
.day__card--yellow {
  background: var(--color-yellow);
}
.day__name {
  color: var(--color-yellow);
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 30px;
}
.day__name--yellow {
  color: var(--color-text);
}
.day__desc {
  max-width: 360px;
  font-family: var(--font-open-sans);
  font-size: var(--font-title);
  margin-bottom: 20px;
}
.day__desc--dark {
  color: var(--color-white);
}
.day__price {
  display: flex;
  font-family: var(--font-open-sans);
  font-size: var(--font-text);
}
.day__price--dark {
  color: var(--color-white);
}
.day__price--number {
  font-family: var(--font-montserrat);
  font-weight: 600;
  color: var(--color-yellow);
  font-size: var(--font-size-xxl);
  line-height: 1;
}
@media (max-width: 576px) {
  .day__price--number {
    font-size: var(--font-size-xl);
  }
}
@media (max-width: 375px) {
  .day__price--number {
    font-size: var(--font-size-lg);
  }
}
.day__price--number--yellow {
  color: var(--color-text);
}
.day__price--time {
  align-self: flex-end;
  margin-bottom: 15px;
}

.sale {
  margin-bottom: 200px;
}
@media (max-width: 960px) {
  .sale {
    margin-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .sale {
    margin-bottom: 50px;
  }
}
.sale__heading {
  margin-bottom: 90px;
}
@media (max-width: 768px) {
  .sale__heading {
    margin-bottom: 50px;
  }
}
.sale__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 576px) {
  .sale__wrap {
    justify-content: center;
  }
}
.sale__icon {
  margin-bottom: 20px;
}
.sale__name {
  margin-bottom: 30px;
}

.footer {
  padding: 90px 0 40px 0;
  background: var(--color-text);
}
.footer__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .footer__container {
    flex-direction: column;
    justify-content: center;
  }
}
.footer__menu {
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .footer__menu {
    display: none;
  }
}
.footer__menu-link {
  font-family: var(--color-white);
  font-size: var(--font-text);
  color: #fff;
  margin-right: 60px;
}
@media (max-width: 1400px) {
  .footer__menu-link {
    margin-right: 30px;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .footer__social {
    margin-bottom: 90px;
  }
}
.footer__social-link {
  margin-right: 30px;
}
.footer__social-link:last-child {
  margin-right: 0;
}
.footer__author {
  font-weight: 600;
  font-size: var(--font-size-es);
  color: var(--color-rgba-white);
}
@media (max-width: 1200px) {
  .footer__author {
    text-align: center;
    max-width: 253px;
  }
}
@media (max-width: 1200px) {
  .footer__logo {
    order: -1;
    margin-bottom: 30px;
  }
}

.market {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 1140px) {
  .market {
    flex-direction: column;
  }
}

.sidebar {
  min-width: 557px;
  margin-right: 60px;
  padding: 45px;
  border-radius: 0px var(--radiuse-size-sm) var(--radiuse-size-sm) 0px;
  overflow: hidden;
  background: var(--color-yellow);
}
@media (max-width: 1400px) {
  .sidebar {
    border-radius: var(--radiuse-size-sm);
    min-width: 380px;
    margin-bottom: 50px;
  }
}
@media (max-width: 1140px) {
  .sidebar {
    margin-right: 0;
    min-width: 100%;
  }
}
@media (max-width: 768px) {
  .sidebar {
    min-width: 100vw;
  }
}
.sidebar__inner {
  max-width: 312px;
  margin: 0 auto;
}
@media (max-width: 1140px) {
  .sidebar__inner {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .sidebar__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.sidebar__position {
  display: flex;
  align-items: start;
  flex-direction: column;
}
@media (max-width: 1140px) {
  .sidebar__form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: start;
  }
}
@media (max-width: 768px) {
  .sidebar__form {
    flex-direction: column;
  }
}
.sidebar__box {
  margin-bottom: 40px;
}
.sidebar__title {
  display: inline-block;
  font-family: var(--font-montserrat);
  color: var(--color-text);
  font-size: var(--font-size-sm);
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
}
.sidebar__heading {
  margin-bottom: 30px;
}
.sidebar__number {
  color: var(--color-text);
  font-size: var(--font-size-sm);
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 5px;
}
.sidebar__number:last-child {
  margin-bottom: 0;
}
.sidebar__select {
  min-width: 207px;
  max-width: 207px;
  display: block;
  border: 1px solid var(--color-title);
  background: transparent;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: var(--font-size-sm);
  color: #131313;
}
.sidebar__select:last-child {
  margin-bottom: 0;
}
.sidebar__btn-find {
  padding: 5px 0;
  max-width: 200px;
  width: 100%;
}
@media (max-width: 1140px) {
  .sidebar__btn-find {
    margin-left: auto;
  }
}
@media (max-width: 768px) {
  .sidebar__btn-find {
    margin-left: 0;
  }
}

.market__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1140px) {
  .market__body {
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .market__body {
    flex-direction: column;
  }
}
.market__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
  border-radius: var(--radiuse-size-sm);
  overflow: hidden;
  text-align: center;
  margin-bottom: 54px;
}
@media (max-width: 1140px) {
  .market__card {
    margin-right: 60px;
  }
}
@media (max-width: 960px) {
  .market__card {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .market__card {
    margin-right: 0;
  }
}
.market__card-inner {
  padding: 20px 20px 70px 20px;
}
.market__card-text {
  font-size: var(--font-text);
  max-width: 250px;
  margin-bottom: 8px;
}
.market__card-price {
  display: block;
  color: var(--color-yellow);
  font-size: var(--font-text);
  font-weight: bold;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
