\:root
  --color-title: #000
  --color-text: #131313
  --color-yellow: #FFBC68
  --color-white: #fff
  --width-container-xxl: 1650px
  --base-padding: 15px
  --font-krona-one: 'Krona One', sans-serif
  --font-monoton: 'Monoton', cursive
  --font-montserrat: 'Montserrat', sans-serif
  --font-open-sans: 'Open Sans', sans-serif
  --base-font-size: 16px
$width-xxl: 1400px
$width-xl: 1140px
$width-lg: 960px
$width-md: 768px
$width-sm: 576px
$width-hamburger: 1200px
