\:root
  --color-title: #000
  --color-text: #131313
  --color-yellow: #FFBC68
  --width-xxl: 1650px
  --base-padding: 15px
  --font-krona-one: 'Krona One', sans-serif
  --font-monoton: 'Monoton', cursive
  --font-montserrat: 'Montserrat', sans-serif
  --font-open-sans: 'Open Sans', sans-serif
  --base-font-size: 16px