.services
  padding-top: 100px
  margin-bottom: 100px
  @include media($width-sm)
    padding-top: 50px
    margin-bottom: 50px
  &__heading
    margin-bottom: 40px
    @include media($width-sm)
      margin-bottom: 20px
  &__wrap
    max-width: 1300px
    margin: 0 auto
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    @include media($width-hamburger)
      max-width: 950px
    @include media($width-md)
      justify-content: center
.service
  @include media($width-hamburger)
    min-width: 320px

  &__icon
    margin-bottom: 22px
  &__name
    margin-bottom: 27px
  &__btn
    padding: 5px 48px
